<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
            <p>Toggle</p>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Login</a>
                <a class="nav-item nav-link" id="home" href="/">Login</a>
            </div>
        </div>
    </nav>
</body>
</html>